.notification-container {
    position: fixed;
    bottom: 2%;    /* Changed from top: 2% to bottom: 2% */
    right: 2%;
    z-index: 1000;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    list-style-type: none;
    font-family: sans-serif;
    color: var(--content-color, black);
}

.notification-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    overflow: hidden;
    padding: 10px 15px;
    border-radius: 6px;
    box-shadow: rgba(111, 111, 111, 0.2) 0px 8px 24px;
    background-color: var(--background-color, #f3f3f3);
    transition: all 250ms ease;
    background-image: linear-gradient(0deg,
            transparent 23%,
            var(--grid-color, rgba(225, 225, 225, 0.7)) 24%,
            var(--grid-color) 25%,
            transparent 26%,
            transparent 73%,
            var(--grid-color) 74%,
            var(--grid-color) 75%,
            transparent 76%,
            transparent),
        linear-gradient(90deg,
            transparent 23%,
            var(--grid-color) 24%,
            var(--grid-color) 25%,
            transparent 26%,
            transparent 73%,
            var(--grid-color) 74%,
            var(--grid-color) 75%,
            transparent 76%,
            transparent);
    background-size: 55px 55px;
}

.notification-item svg {
    transition: 250ms ease;
}

.notification-item:hover {
    transform: scale(1.01);
}

.notification-item:active {
    transform: scale(1.05);
}

.notification-item .notification-close:hover {
    background-color: rgba(204, 204, 204, 0.45);
}

.notification-item .notification-close:hover svg {
    color: rgb(0, 0, 0);
}

.notification-item .notification-close:active svg {
    transform: scale(1.1);
}

.notification-item .notification-close {
    padding: 2px;
    border-radius: 5px;
    transition: all 250ms;
    cursor: pointer;
}

.notification-container svg {
    width: 1em;
    height: 1em;
    color: var(--content-color);
}

.notification-icon {
    display: flex;
    align-items: center;
}

.success {
    color: #047857;
    background-color: #7dffbc;
    --grid-color: rgba(16, 185, 129, 0.25);
}

.success svg {
    color: #047857;
}

.success .notification-progress-bar {
    background-color: #047857;
}

.success:hover {
    background-color: #5bffaa;
}

.info {
    color: #1e3a8a;
    background-color: #7eb8ff;
    --grid-color: rgba(59, 131, 246, 0.25);
}

.info svg {
    color: #1e3a8a;
}

.info .notification-progress-bar {
    background-color: #1e3a8a;
}

.info:hover {
    background-color: #5ba5ff;
}

.notification-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5em;
}

.notification-text {
    font-size: 0.75em;
    user-select: none;
}

.notification-progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    background: var(--content-color);
    width: 100%;
    animation: progressBar 5s linear forwards;
}

@keyframes progressBar {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}